/* Gray Wheeler */

.title {
    position: static;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about {
    margin-left: 3%;  
    margin-top: 3%;
}
.about:hover {
  animation: bubble 0.6s ease-out;
}

@keyframes about {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.email {
    margin-top: 3%;  
    margin-bottom: 3%;
    filter: brightness(1.3);

  }

.email:hover {
    animation: bubble 0.6s ease-out;
  }
  
  @keyframes email {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

.resume {
    margin-top: 3%;  
    margin-bottom: 3%;
    filter: brightness(1.3);

}

.resume:hover {
    animation: bubble 0.6s ease-out;
  }
  
  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

.linkedin {
    margin-top: 3%;  
    margin-bottom: 3%;
    filter: brightness(1.6);

}
.linkedin:hover {
    animation: bubble 0.6s ease-out;
  }
  
  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

.github {
    margin-top: 3%;  
    margin-bottom: 3%;
    filter: brightness(1.3);
}

.github:hover {
    animation: bubble 0.6s ease-out;
  }
  
  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1.2);
    }
  }


.boxText {
    color: ivory;
}

.containerText {
    color: #043033
}

.imgMe {
    width: 50%;
    left: 100px;
}

.imgMe2 {
    width: 50%;
    left: 400px;
    bottom: 40px
}

.imgMe3 {
    width: 40%;
    left: 50px;
    bottom: 40px;
}

.imgMe4 {
    width: 40%;
    left: 100px;
    bottom: 40px
}

.imgMe5 {
    width: 70%;
    left: 140px;
    bottom: 40px;
}

@media (min-width: 992px) {
    .intro .intro-img {
      width: 38%;
      float:left;
    }
    .intro .intro-text {
        left: 34%;
        top: 20%;
        width: 60%;
        margin-top: 3rem;
        position: absolute;
      }
      .intro .intro-text .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
      }
    }


body {
    background-image: url('../images/ski.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.newFont {
    font-family: "courier new";
    font-size-adjust: 40px;
    color: ivory;

}

.headFont {
    font-family:-apple-system, "Futura";
    font-style: bold;
}

.textFont {
    font-family:-apple-system, "Futura";
    font-style: normal;
}

@media (max-width: 768px) {
  .title {
      left: 0;
      width: 80%; /* Adjust width for smaller screens */
      text-align: center;
  }

  .about, .email, .resume, .linkedin, .github {
      position: static; /* Remove fixed positioning */
      margin: 10px auto; /* Center elements */
  }
}

.container{
  text-align: center;
}

.container2{
  text-align: left;
}

.container3{
  text-align: right;
}

.containerSize {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; /* Center container */
}

.imgMe, .imgMe2, .imgMe3, .imgMe4, .imgMe5 {
  width: 100%; /* Allow images to scale within their containers */
  max-width: 500px; /* Optional: Set a max width */
  height: auto; /* Maintain aspect ratio */
}

/* Mobile-specific adjustments */
@media (max-width: 480px) {
  .title, .about, .email, .resume, .linkedin, .github {
      font-size: 1rem; /* Adjust font sizes */
      padding: 5px;
  }
  
  .newFont {
      font-size: 1.2rem; /* Scale down large fonts */
  }
  
  .containerSize {
      width: 95%; /* Utilize full width on smaller screens */
  }
}
