/* Gray Wheeler */

.title {
    position: relative;
    top: 0px;
    bottom: 20px;
    left: 250px;
}

.about {
    position: relative;
    top: 55px;
    right: 10%;
}
.about:hover {
    animation: bubble 0.6s ease-out;
  }
  
  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

.email {
    position: relative;
    top: 20px;
    left: 1200px;
}
.email:hover {
    animation: bubble 0.6s ease-out;
  }
  
  @keyframes email {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

.resume {
    position:relative;
    top: 60px;
    bottom: 30px;
    left: 480px;
    filter: brightness(1.3);

}

.resume:hover {
    animation: bubble 0.6s ease-out;
  }
  
  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

.linkedin {
    position: relative;
    top: 120px;
    bottom: 30px;
    left: 480px;
    filter: brightness(1.6);

}
.linkedin:hover {
    animation: bubble 0.6s ease-out;
  }
  
  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

.github {
    position: relative;
    top: 200px;
    bottom: 20px;
    left: 510px;
    filter: brightness(1.3);
}

.github:hover {
    animation: bubble 0.6s ease-out;
  }
  
  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

.byline1  {
    position: relative;
    top: 300px;
    bottom: 4px;
    right: 260px;
}

.byline2  {
    position: relative;
    top: 273px;
    bottom: 4px;
    left: 370px;
}

.byline3  {
    position: relative;
    top: 273px;
    bottom: 4px;
    left: 540px;
}



.boxText {
    color: ivory;
}

.containerText {
    color: #043033
}

.imgMe {
    width: 50%;
    left: 100px;
}

.imgMe2 {
    width: 50%;
    left: 400px;
    bottom: 40px
}

.imgMe3 {
    width: 40%;
    left: 50px;
    bottom: 40px;
}

.imgMe4 {
    width: 40%;
    left: 100px;
    bottom: 40px
}

.imgMe5 {
    width: 70%;
    left: 140px;
    bottom: 40px;
}

@media (min-width: 992px) {
    .intro .intro-img {
      width: 38%;
      float:left;
    }
    .intro .intro-text {
        left: 34%;
        top: 20%;
        width: 60%;
        margin-top: 3rem;
        position: absolute;
      }
      .intro .intro-text .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
      }
    }
.buttonColor {
    background-color: #043033;
    border-color: #043033;
    color: ivory;
}

.buttonColor:hover {
    background-color: rgba(15,48,51,0.88);
    border-color: #043033;
    color: ivory;
}

body {
    background-image: url('../images/ski.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.containerSize {
    width: 1000px;
}

.newFont {
    font-family: "courier new";
    font-size-adjust: 40px;
    color: ivory;

}

.headFont {
    font-family:-apple-system, "Futura";
    font-style: bold;
}

.textFont {
    font-family:-apple-system, "Futura";
    font-style: normal;
}
